/* Global Styling here */
iframe {
  width: 100%;
}

img {
  border-radius: 8px;
}

@media screen and (max-width: 450px) {
  #home main {
    transform: scale(0.9);
  }

  #home main {
    padding: 0.5rem;
    padding-inline-start: 0.5rem !important;
    -webkit-padding-inline-start: 0.5rem !important;
    padding-inline-end: 0.5rem !important;
    -webkit-padding-inline-end: 0.5rem !important;
    margin-top: 1em !important;
  }
  #home #carousel-container {
    width: 360px;
    transform: scale(0.9);
    margin-bottom: 0;
  }  
  #home aside, #home section {
    padding: 1em;
  }
}
